/* General
=============================================================================*/
.post-content div {
    padding: 1px;
    margin: 5px auto;
}

.post-content p {
    line-height: 1.3em;
    margin: 1.0em 0px;
}

.post-content ul {
    padding-left: 20px;
    list-style: disc inside;
}

.post-content ol {
    padding-left: 20px;
    list-style: decimal inside;
}

.post-content ul li,
.post-content ol li {
    margin: 0.6em 0;
}

.post-content ul li > :first-child,
.post-content ol li > :first-child,
.post-content ul li ul:first-of-type,
.post-content ol li ol:first-of-type,
.post-content ul li ol:first-of-type,
.post-content ol li ul:first-of-type {
    margin-top: 0px;
}

.post-content ul ul, .post-content ul ol, .post-content ol ol, .post-content ol ul {
    margin-bottom: 0;
}

dl {
    padding: 0;
}

dl dt {
    padding: 0;
    margin: 15px 0 5px;
}

dl dt:first-child {
    padding: 0;
}

dl dt > :first-child {
    margin-top: 0px;
}

dl dt > :last-child {
    margin-bottom: 0px;
}

dl dd {
    margin: 0 0 15px;
    padding: 0 15px;
}

dl dd > :first-child {
    margin-top: 0px;
}

dl dd > :last-child {
    margin-bottom: 0px;
}

strong {
    font-weight: bold;
}

em {
    color: #222;
    font-style: italic;
}

/* Summary
=============================================================================*/

div.summary:before {
    content: "Summary: ";
    font-weight: bold;
}

div.summary {
    padding: 10px 10px 1px 10px;
    background-color: #ccf;
    border-radius: 8px;
}

/* CODE
=============================================================================*/

pre {
    line-height: 19px;
    padding: 8px 8px;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 3px;
    word-wrap: break-word;
    overflow: hidden;
}

.highlight pre {
    background: #202020;
    color: #D0D0D0;
    border: none;
    word-wrap: break-word;
    overflow: hidden;
}

tt {
    padding: 1px 5px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    border-radius: 3px;
}

/* QUOTES
=============================================================================*/

.post-content blockquote {
    border-left: 6px solid #DDD;
    padding: 6px 15px;
    color: #777;
    background-color: #f7f7f7;
    border-radius: 0 8px 8px 0;
}

.post-content blockquote > :first-child {
    margin-top: 0px;
}

.post-content blockquote > :last-child {
    margin-bottom: 0px;
}

/* HORIZONTAL RULES
=============================================================================*/

hr {
    clear: both;
    margin: 5px 0;
    height: 0px;
    overflow: hidden;
    border: none;
    background: transparent;
    border-bottom: 4px solid #ddd;
    padding: 0;
}

/* TABLES
=============================================================================*/

table th {
    font-weight: bold;
}

table th, table td {
    border: 1px solid #ccc;
    padding: 6px 13px;
}

table tr {
    border-top: 1px solid #ccc;
    background-color: #fff;
}

table tr:nth-child(2n) {
    background-color: #f8f8f8;
}

table.highlighttable tr, table.highlighttable td {
    border: none;
    padding: 0;
    margin: 0;
    background-color: inherit;
}

/* -- hyperlink styles ------------------------------------------------------ */

.post-content a, .post-content a {
    color: #355f7c;
    text-decoration: none;
}

.post-content a:hover {
    color: #EA4C88;
    text-decoration: underline;
}

/* -- sphinx style ---------------------------------------------------- */
p.admonition-title + p {
    display: inline;
}

p.admonition-title {
    display: inline;
    font-weight: bold;
}

p.admonition-title:after {
    content: ":";
}

div.note {
    background-color: #eef;
}

div.tip {
    background-color: #dfd;
}

div.topic {
    background-color: #f8f8f8;
}

div.warning {
    background-color: #ffe4e4;
}

div.warning, div.note, div.tip, div.topic {
    padding: 8px;
    border-radius: 8px;
}

div.topic .topic-title {
    margin-left: 20px;
    font-weight: bold;
}

/* Images
=============================================================================*/
.empty .figure {
    max-width: 650px;
    margin: 10px auto;
    text-align: center;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, .2);
    -o-box-shadow: 0px 0px 8px rgba(0, 0, 0, .2);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .2);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.post-content .figure {
    max-width: 650px;
    margin: 10px auto;
    text-align: center;
}

.post-content .figure img {
    max-width: 90%;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, .2);
    -o-box-shadow: 0px 0px 8px rgba(0, 0, 0, .2);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .2);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 10px;
}

.post-content .figure p.caption {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
}