<aside>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><a href="{{ SITEURL }}/blog/categories.html" title="Categories">
                <i class="fa fa-folder-open-o fa-lg"></i> Categories
            </a></h3>
        </div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                {% for cat, null in categories %}
                    <li>
                        <a class="ybs-black" href="{{ SITEURL }}/{{ cat.url }}" title="{{ cat }}">
                            <i class="fa {{ 'fa-folder-open-o' if cat == category else 'fa-folder-o' }} fa-lg"></i> {{ cat }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><a href="{{ SITEURL }}/blog/tags.html" title="Tags">
                <i class="fa fa-tags fa-lg"></i> Tags
            </a></h3>
        </div>
        <div class="panel-body">
            {% for tag in tag_cloud %}
                <span class="fa fa-tag tag-{{ tag.1 }}"><a href="{{ SITEURL }}/{{ tag.0.url }}">{{ tag.0 }}</a></span> ,
            {% endfor %}
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><a href="{{ SITEURL }}/blog/dates.html" title="Dates">
                <i class="fa fa-calendar fa-lg"></i> Dates
            </a></h3>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-external-link fa-lg"></i> Links</h3>
        </div>
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                {% for name, link in LINKS %}
                    <li><a class="ybs-black" href="{{ link }}" title="{{ name }}">
                        <i class="fa fa-external-link fa-lg"></i> {{ name }}</a></li>
                {% endfor %}
				<li>
				<div class="bdsharebuttonbox"><A class=bds_more href="http://share.baidu.com/code#" data-cmd="more"></A><A title=分享到QQ空间 class=bds_qzone href="http://share.baidu.com/code#" data-cmd="qzone"></A><A title=分享到新浪微博 class=bds_tsina href="http://share.baidu.com/code#" data-cmd="tsina"></A><A title=分享到腾讯微博 class=bds_tqq href="http://share.baidu.com/code#" data-cmd="tqq"></A><A title=分享到人人网 class=bds_renren href="http://share.baidu.com/code#" data-cmd="renren"></A><A title=分享到微信 class=bds_weixin href="http://share.baidu.com/code#" data-cmd="weixin"></A></div>
				</li>
            </ul>
        </div>
    </div>
</aside>