<% render 'default' do %>
<!-- posts list -->
<div id="posts-list">
    <%= yield %>
</div>
<!-- ENDS posts list -->

<!-- sidebar -->
<aside id="sidebar">
    <ul>
        <li class="block">
            <h4>TAGS</h4>
            <ul>
                <% all_tags.each do |tag| %>
                <li class="cat-item"><a href="<%= url_for_tag(tag) %>" title="<%= tag %>"><%= tag.capitalize %></a></li>
                <% end %>
            </ul>
        </li>
        <li class="block">
            <h4>DATES</h4>
            <ul>
                <% all_dates.each do |yk,yv| %>
                <li><a href="<%= url_for_date(yk, nil) %>" title="<%= "Blog posts from #{yk}" %>"><%= "#{yk} (#{yv[:num]})" %></a></li>
                    <% yv.delete(:num) %>
                    <ul>
                    <% yv.each do |mk,mv| %>
                        <li class="cat-item"><a href="<%= url_for_date(yk, mk) %>" title="<%= "Blog posts from #{Date::MONTHNAMES[mk]} #{yk}" %>"><%= "#{'%02d' % mk} (#{mv})" %></a></li>
                    <% end %>
                    </ul>
                <% end %>
            </ul>
        </li>
    </ul>
    <em id="corner"></em>
</aside>
<!-- ENDS sidebar -->
<% end %>