<li class="article">
    <article class="format-standard">
        <% imgMain = img_url("main.jpg") %>
        <% unless imgMain.nil? %>
        <div class="feature-image">
            <a href="<%= img_url("main.jpg") %>" data-rel="prettyPhoto"><img src="<%= img_url("main.jpg") %>" alt="<%= @item[:title] %>" /></a>
        </div>
        <% end %>
        <h2 class="post-heading"><a href="<%= path_url %>"><%= @item[:title] %></a></h2>
        <div class="excerpt"><%= get_post_start(item) %></div>
        <%= render 'partial/articlemeta', :item => item %>
    </article>
</li>
